<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
	  http://www.springframework.org/schema/context/spring-context.xsd
	  http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd

">



    <!-- 加载db.properties配置文件 -->
    <context:property-placeholder location="classpath:db.properties"/>

    <!-- hibernateTemplate，依赖了sessionFactory-->
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"></property>
        <!-- 没有整合spring进行事务控制，先不让它检查session刷新 数据的模式，如果spring进行事务控制了，此配置可以去掉了 -->
        <!--<property name="checkWriteOperations" value="false"/>-->
    </bean>


    <!-- 配置 sessionFactory，依赖dataSource数据源（数据库连接池）-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <!-- 数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 加载hibernate的映射文件 -->
        <property name="configLocations" value="classpath:hibernate.cfg.xml"/>
    </bean>

    <!-- spring对  数据源进行管理 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!-- mysql的驱动包 -->
        <property name="driverClass" value="${jdbc.driver}" />
        <!-- 连接数据库url -->
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="user"    value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>

<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager" >
    <property name="sessionFactory" ref="sessionFactory"></property>
</bean>


    <bean id="transactionBese"
          class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
          lazy-init="true" abstract="true">
        <property name="transactionManager" ref="transactionManager"></property>
        <property name="transactionAttributes">
            <props>
                <prop key="add*">PROPAGATION_REQUIRED,-Exception</prop>
                <prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>
                <prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>
                <prop key="insert*">PROPAGATION_REQUIRED,-Exception</prop>
                <prop key="modify*">PROPAGATION_REQUIRED,-Exception</prop>
                <prop key="delete*">PROPAGATION_REQUIRED,-Exception</prop>
                <prop key="del*">PROPAGATION_REQUIRED,-Exception</prop>
                <prop key="get*">PROPAGATION_NEVER</prop>

            </props>
        </property>
    </bean>


</beans>